<section class="w-full bg-[#D8EFEF] h-96 flex justify-center items-center ">
  <div class="flex flex-col items-center gap-3 py-8 w-5/6 max-md:w-full ">
   <h1>It all starts with a domain.</h1>
   <span>Make your idea real. Claim your space online with a domain.</span>
   <form class="w-full">
    <input type="text" class="w-4/5 h-16 p-3 border-[2px] border-gray-800  bg-gray-200" placeholder="Find your perfect domain ">
    <button class="bg-gray-800 text-white w-1/5 h-16 p-3 hover:bg-gray-700 transition-all duration-300">Search</button>
   </form>
  </div>
</section>
