<nav class="px-8">
  <div class="logo">
    <i class="fa-brands fa-gofore"></i>
    <h1>oDaddy</h1>
  </div>
  <div class="menu-icon" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </div>
  <ul class="midd-items" [class.open]="menuOpen">
    <li
      [ngClass]="{ active: activeIndexMiddItems === 0 } "
      (click)="setActiveIndexMiddItems(0); toggleDomainDropdown($event)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Domains</h2>
      <i class="fa-solid fa-caret-down"></i>
    </li>

    <li
      [ngClass]="{ active: activeIndexMiddItems === 1 }"
      (click)="setActiveIndexMiddItems(1); toggleWebDropdown($event)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Websites and Hosting</h2>
      <i class="fa-solid fa-caret-down"></i>
    </li>

    <li
      [ngClass]="{ active: activeIndexMiddItems === 2 }"
      (click)="setActiveIndexMiddItems(2)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Email</h2>
    </li>

    <li
      [ngClass]="{ active: activeIndexMiddItems === 3 }"
      (click)="setActiveIndexMiddItems(3); toggleSecurityDropdown($event)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Security</h2>
      <i class="fa-solid fa-caret-down"></i>
    </li>

    <li
      [ngClass]="{ active: activeIndexMiddItems === 4 }"
      (click)="setActiveIndexMiddItems(4); toggleMarketingDropdown($event)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Marketing</h2>
      <i class="fa-solid fa-caret-down"></i>
    </li>
  </ul>
  <ul class="end-items" [class.open]="menuOpen">
    <li
      [ngClass]="{ active: activeIndexMiddItems === 5 }"
      (click)="setActiveIndexMiddItems(5); toggleHelpDropdown($event)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Help</h2>
      <i class="fa-solid fa-caret-down"></i>
    </li>
    <li
      [ngClass]="{ active: activeIndexMiddItems === 6 }"
      (click)="setActiveIndexMiddItems(6) ; toggleSignInDropdown($event)"
      class="dropdown"
    >
      <h2 class="text-[0.8rem] text-bold">Sign In</h2>
      <i class="fa-solid fa-caret-down"></i>
    </li>

    <li
      [ngClass]="{ active: activeIndexMiddItems === 7 }"
      (click)="setActiveIndexMiddItems(7)"
      class="dropdown"
    >
      <i class="fa-solid fa-cart-shopping"></i>
    </li>
  </ul>
</nav>

<div class="max-md:hidden">
  <div *ngIf="showDomainDropdown" class="domain-dropdown backdrop-blur-xl gap-4 bg-white/50">
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">FIND A DOMAIN</h3>
      <ul>
        <li
          class=" hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
        <a routerLink="/" class="flex justify-start items-center gap-3 ">
          <i
          class="fa-brands fa-searchengin p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
        ></i>
        <span class="hover:text-[#0e2222] text-sm"
          >Search for Domain Names</span
        >
        </a>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-right-left p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Transfer Domain Names</span>
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-regular fa-window-maximize p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Browse Domain Name Options</span
          >
        </li>
      </ul>
    </div>
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">AUCTIONS FOR DOMAINS</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-paint-roller p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Auctions for Domain Names</span
          >
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-file-invoice-dollar p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Appraise Domain Name Value</span
          >
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-hand-holding-dollar p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Investing in Domain Names</span
          >
        </li>
      </ul>
    </div>
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">DOMAIN TOOLS AND SERVICES</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-square-plus p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Generate Domain Names</span>
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-globe p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Find a Domain Owner (WHOIS)</span
          >
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-user-check p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Domain Broker Service</span>
        </li>
      </ul>
    </div>
    <div class="dropdown-column flex flex-col items-center gap-4">
      <img
        class="rounded-xl w-[300px] h-[300px] hover:scale-105 transition-all duration-300"
        src="https://img.freepik.com/premium-photo/drink-gold-tablecloth-still-life_23-2151423591.jpg?w=740"
        alt="img"
      />
      <h3 class="text-gray-500 font-bold text-sm">Secure Your Domain Today</h3>
    </div>
  </div>

  <div *ngIf="showWebDropdown" class="web-dropdown backdrop-blur-xl gap-4 bg-white/50">
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">WEBSITES</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-regular fa-window-maximize p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Website Builder</span>
          <span class="p-1 rounded-xl bg-sky-600 text-gray-200 text-xs"
            >FREE TRIAL</span
          >
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-regular fa-window-maximize p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Arabic Website Builder</span>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-store p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">E-Store</span>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-pen-ruler p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Website Design Services</span
          >
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-arrow-right p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">All Website Options</span>
        </li>
      </ul>
    </div>
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">HOSTING</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-server p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Web Hosting</span>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-server p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">WordPress Hosting</span>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-database p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">VPS Hosting</span>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-arrow-right p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">All Hosting Options</span>
        </li>
      </ul>
    </div>
    <div class="dropdown-column flex flex-col items-center gap-4">
      <img
        class="rounded-xl w-[300px] h-[300px] hover:scale-105 transition-all duration-300"
        src="https://img.freepik.com/premium-photo/second-hand-items-arrangement_23-2151400109.jpg?w=900"
        alt="img"
      />
      <h3 class="text-gray-500 font-bold text-sm">Secure Your Domain Today</h3>
    </div>
  </div>

  <div *ngIf="showSecurityDropdown" class="Security-dropdown backdrop-blur-xl gap-4 bg-white/50"
  >
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">SSL CERTIFICATES</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-regular fa-newspaper p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">SSL Certificates</span>
          <i class=""></i>
        </li>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-lock p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Managed SSL Certificate</span
          >
        </li>
      </ul>
    </div>
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">WEB SECURITY</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-shield-halved p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Complete Website Security</span
          >
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-arrow-right p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >All Web Security Options</span
          >
        </li>
      </ul>
    </div>
    <div class="dropdown-column flex flex-col items-center gap-4">
      <img
        class="rounded-xl w-[300px] h-[300px] hover:scale-105 transition-all duration-300"
        src="https://img.freepik.com/free-photo/portrait-male-security-guard-with-uniform_23-2150368735.jpg?t=st=1718879637~exp=1718883237~hmac=23dc5758b984c1bc4bcbf5ce7da28f54f9c468ec242b81d681c697b5ce889993&w=826"
        alt="security"
      />
      <h3 class="text-gray-500 font-bold text-sm text-center">
        Get help selecting the right type of SSL Certificate
      </h3>
    </div>
  </div>

  <div *ngIf="showMarketingDropdown" class="Marketing-dropdown backdrop-blur-xl gap-4 bg-white/50"
  >
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">COMMUNICATION TOOLS</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-bell p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Digital Marketing Suite</span
          >
          <span class="p-1 rounded-xl bg-sky-600 text-gray-200 text-xs"
            >FREE TRIAL</span
          >
        </li>
      </ul>
    </div>
    <div class="dropdown-column">
      <h3 class="text-gray-500 font-bold text-sm">CONTENT CREATION TOOLS</h3>
      <ul>
        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-regular fa-image p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm"
            >Content & Photo Creator</span
          >
        </li>

        <li
          class="flex justify-start items-center gap-3 hover:bg-[#D8EFEF] transition-all duration-300 py-2 cursor-pointer rounded-xl"
        >
          <i
            class="fa-solid fa-bolt p-3 bg-[#b7f1f5] text-xl text-gray-800 rounded-xl"
          ></i>
          <span class="hover:text-[#0e2222] text-sm">Free Logo Maker</span>
        </li>
      </ul>
    </div>
    <div class="dropdown-column flex flex-col items-center gap-4">
      <img
        class="rounded-xl w-[300px] h-[300px] hover:scale-105 transition-all duration-300"
        src="https://img.freepik.com/free-vector/mobile-marketing-isometric-style_23-2148896785.jpg?t=st=1718880308~exp=1718883908~hmac=f9f6910d29256f818e8337f7ad0a255c256c25e40560b27feff75612b0a798c8&w=740"
        alt="marketing"
      />
      <h3 class="text-gray-500 font-bold text-sm text-center">
        Get help selecting the right type of SSL Certificate
      </h3>
    </div>
  </div>

  <div *ngIf="showHelpDropdown" class="Help-dropdown  backdrop-blur-xl rounded-lg flex flex-col items-center gap-4 bg-white shadow-xl absolute top-[80px] z-[1000] right-10 w-1/4 h-44"
     >
    <span
      class="w-10 h-10 rotate-45 absolute top-[-5px] left-32  right-0 bg-white"
    ></span>
    <div class="flex flex-col items-center gap-3 mt-10 w-full">
      <span class="text-[#00838C] cursor-pointer text-start">Getting Started</span>
      <span class="text-[#00838C] cursor-pointer text-start" >Contact Us</span>
      <hr class=" h-[1px] bg-gray-300 w-full" />
      <span class="w-5/6 h-10 bg-gray-800 hover:bg-gray-700 transition-all duration-300 flex justify-center items-center text-white rounded-xl cursor-pointer"><h1>Help Center</h1></span>
    </div>
  </div>

  <div   *ngIf="showSignInDropdown"    class="Help-dropdown  backdrop-blur-xl px-2 rounded-lg flex flex-col items-start gap-4 bg-white shadow-xl absolute top-[80px] z-[1000] right-10 w-1/4 h-auto pb-2"
  >
    <span
      class="w-10 h-10 rotate-45 absolute top-[-5px] right-10   bg-white"
    ></span>
    <div class="flex flex-col items-center gap-3 mt-10 w-full text-start">
      <span class="">Registered Users</span>
      <span class="" >Have an account? Sign in now.</span>
      <span>Sign In</span>
      <hr class=" h-[1px] bg-gray-300 w-full" />
      <span>New Customer</span>
      <p>New to GoDaddy? Create an account to get started today.</p>
      <span>Create an Account</span>
      <hr class=" h-[1px] bg-gray-300 w-full" />
      <span>INBOX LINKS</span>
      <span>Sign in to Office 365 Email</span>
      <span>Sign in to GoDaddy Webmail</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
