<div class="w-full px-8 flex flex-col items-start">
  <div class="w-full flex justify-center items-center gap-4 max-md:flex-col">
    <div class="bg-white p-4 rounded-lg shadow-lg w-2/3 max-md:w-full">
      <div class="flex items-center border-b border-gray-300 py-2">
        <span class="text-gray-500 pr-2">
          <i class="fa fa-search"></i>
        </span>
        <input
          id="search-input"
          type="text"
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
          placeholder="Search..."
        />
        <button
          class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
          type="button"
        >
          Search
        </button>
      </div>
    </div>
    <div
      class="flex justify-center max-md:w-full shadow-xl items-center gap-2 bg-gray-100 hover:bg-white transition-all duration-300 cursor-pointer p-4 rounded-xl"
    >
      <span>.gives</span>
      <div class="flex flex-col items-start gap-1">
        <span>‪285.24 EGP*‬/1st yr.</span>
        <span class="text-xs text-gray-600"> Lend a hand with .gives</span>
      </div>
    </div>
  </div>
  <div
    class="flex w-full mt-5 justify-center items-start gap-4 max-md:flex-col"
  >
    <div
      class="w-3/4 rounded-xl max-md:w-full h-auto p-4 flex flex-col items-start header-image"
    >
      <span>Domain Names</span>
      <div class="flex justify-between items-center">
        <div class="flex flex-col items-start gap-4 w-1/2 max-md:w-full">
          <span class="text-5xl max-md:text-3xl text-gray-800 font-bold">
            Grab a .com for ‪570.95 EGP*‬ /1st yr.
          </span>
          <span
            >3-year purchase required. Additional year(s) ‪1,047.14 EGP*‬</span
          >
          <span class="bg-gray-800 rounded-lg py-2 px-4 text-center text-white hover:scale-105 transition-all duration-300 cursor-pointer"
            ><h1>Find Your Domain</h1></span
          >
          <span class="text-xs"
            >Domains include free privacy protection forever+</span
          >
        </div>
      </div>
    </div>

    <div
      class="w-1/4 flex flex-col items-center p-6 bg-gray-800 text-white h-full rounded-xl gap-4 max-md:w-full"
    >
      <span class="w-full text-center text-sm font-bold"
        >Arabic Website Builder</span
      >
      <span class="text-xl font-bold w-full text-center"
        >See what a website can do.</span
      >
      <span class="w-full text-center text-sm"
        >Built-in marketing tools make it easy to promote your new site.</span
      >
      <span
        class="bg-gray-200 rounded-lg py-2 px-4 text-center text-gray-800 hover:scale-105 transition-all duration-300 cursor-pointer"
        ><h1>Start for Free</h1></span
      >
      <span class="underline cursor-pointer">Learn More</span>
      <span class="text-xs">No credit card required.**</span>
    </div>
  </div>

  <div class="w-full"><app-about></app-about></div>
  <div class="w-full"><app-services></app-services></div>
  <div class="w-full"><app-contact></app-contact></div>
</div>
